<!-- Ecomposer Sticky Cart Extension -->
{%- liquid
  assign current_product = product.selected_or_first_available_variant
  assign current_price = current_product.price
  assign compare_price = current_product.compare_at_price | default:current_price
  assign image = current_price.featured_image | default:product.featured_image
  assign variants = product.variants
  assign variants_available = variants | where: "available"
  assign variant_first = variants_available.first
  assign extension_setting = shop.metafields.ecomposer.sticky_cart.value


  #Font
    assign google_fonts = extension_setting.google_font_css
    assign custom_fonts = extension_setting.custom_font_css

  #Product_name
    assign product_name_typo_css = extension_setting.typo_product_name
    assign product_name_typo_css__tablet = extension_setting.typo_product_name__tablet
    assign product_name_typo_css__mobile = extension_setting.typo_product_name__mobile
    assign product_name_color = extension_setting.color_product_name

  #Product_price
    assign product_price_typo_css = extension_setting.typo_price
    assign product_price_typo_css__tablet = extension_setting.typo_price__tablet
    assign product_price_typo_css__mobile = extension_setting.typo_price__mobile
    assign product_price_compare_typo_css = extension_setting.typo_price_compare
    assign product_price_compare_typo_css__tablet = extension_setting.typo_price_compare__tablet
    assign product_price_compare_typo_css__mobile = extension_setting.typo_price_compare__mobile
    assign product_price_color = extension_setting.color_price
    assign product_price_compare_color = extension_setting.color_compare_price

  #Variant_text
    assign variant_text_color = extension_setting.color_variant_text
    assign product_variant_typo_css = extension_setting.typo_variant_text
    assign product_variant_typo_css__tablet = extension_setting.typo_variant_text__tablet
    assign product_variant_typo_css__mobile = extension_setting.typo_variant_text__mobile
    assign variant_border = extension_setting.border_variant
    assign variant_border_radius = extension_setting.border_radius_variant
    assign variant_width = extension_setting.variant_width
    assign variant_width__tablet = extension_setting.variant_width__tablet
    assign variant_width__mobile = extension_setting.variant_width__mobile

  #Quantity
    assign quantity_border = extension_setting.border_quantity
    assign quantity_border_radius = extension_setting.border_radius_quantity

  #Button_cart
    assign button_label = extension_setting.button_cart.button_label
    assign button_bg_color_normal = extension_setting.background_cart_normal
    assign button_bg_color_normal__tablet = extension_setting.background_cart_normal__tablet
    assign button_bg_color_normal__mobile = extension_setting.background_cart_normal__mobile
    assign button_bg_color_hover = extension_setting.background_cart_hover
    assign button_typo_css = extension_setting.typo_cart_button
    assign button_typo_css__tablet = extension_setting.typo_cart_button__tablet
    assign button_typo_css__mobile = extension_setting.typo_cart_button__mobile
    assign button_cart = extension_setting.button_cart
    assign button_cart_padding = button_cart.spacing.padding
    assign button_cart_margin = button_cart.spacing.margin
    assign button_cart_padding__tablet = button_cart.spacing__tablet.padding
    assign button_cart_margin__tablet = button_cart.spacing__tablet.margin
    assign button_cart_padding__mobile = button_cart.spacing__mobile.padding
    assign button_cart_margin__mobile = button_cart.spacing__mobile.margin

    assign button_cart_width_normal = button_cart.buttonWidthnormalmode
    assign button_cart_width_hover = button_cart.buttonWidthhovermode
    assign button_cart_height_normal = button_cart.buttonHeightnormalmode
    assign button_cart_height_hover = button_cart.buttonHeighthovermode
    assign button_cart_width_normal__tablet = button_cart.buttonWidthnormalmode__tablet
    assign button_cart_height_normal__tablet = button_cart.buttonHeightnormalmode__tablet
    assign button_cart_width_normal__mobile = button_cart.buttonWidthnormalmode__mobile
    assign button_cart_height_normal__mobile = button_cart.buttonHeightnormalmode__mobile
    assign button_cart_text_color_normal = button_cart.buttonColornormalmode
    assign button_text_color_hover = button_cart.buttonColorhovermode
    assign button_border_normal = button_cart.buttonBordernormalmode
    assign button_border_hover = button_cart.buttonBorderhovermode
    assign button_border_radius_normal = button_cart.buttonBorderRadiusnormalmode
    assign button_border_radius_hover = button_cart.buttonBorderRadiushovermode
    assign button_border_radius_normal__tablet = button_cart.buttonBorderRadiusnormalmode__tablet
    assign button_border_radius_normal__mobile = button_cart.buttonBorderRadiusnormalmode__mobile


  assign image_size = '240x'
  if extension_setting.mobile_disable
    assign mobile_class = 'ecom-sticky-mobile-disable'
  else
    assign mobile_class = ''
  endif
  -%}
{%- if extension_setting.enable -%}
<div class="ecom-sticky__atc ecom-container ecom-b__0 {% if extension_setting.use_container %} ecom-section {% endif %} ecom-l__0 ecom-r__0 ecom-sticky-layout__simple {{ mobile_class }}" data-img-size="{{ image_size }}">
    <div class="ecom-sticky__collapse"><svg width="20" height="20" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M24 29.172 9.414 14.586l-2.828 2.828L24 34.828l17.414-17.414-2.828-2.828z"/></svg></div>
    <div class="ecom__row ecom-sticky__atc--wrapper {% if extension_setting.use_container %} core__row--columns {% endif %}">
      <div class="ecom-sticky-atc__product">
          <div class="ecom-sticky-atc__product-wrap ecom-flex ecom-al_center">
            <div class="ecom-sticky__atc--image">
              <img alt="{{ product.title | escape }}" src="{{ image | img_url: image_size }}"/>
            </div>
            <div class="ecom-sticky__act--info ecom-flex ecom-column">
              <h3 class="ecom-sticky__atc--title" title="{{ product.title }}">{{ product.title }}</h3>
              <div class="ecom-sticky__atc--price {% if product.has_only_default_variant %}ecom-sticky__atc--price-always-show 2{% endif %}">
                  {% if compare_price > current_price %}
                    <del>{{ compare_price| money }}</del>
                  {% endif %}
                  <ins>{{ current_price| money}}</ins>
              </div>
            </div>
          </div>

        </div>
        <div class="ecom-sticky-atc__btn ecom-flex ecom-al_center">
          {%- if variants_available.size > 0 -%}
            {% if product.has_only_default_variant == false %}
            <div class="ecom-sticky__atc--variants">
              <select id="ecom-sticky-cart__select-{{ product.handle }}" name="id">
                {%- for variant in product.variants -%}
                  <option value="{{ variant.id }}" data-price="{{ variant.price }}" {%- if variant.compare_at_price -%} data-compare-price="{{ variant.compare_at_price }}"{%- endif -%}
                    data-image="{{ variant.image | img_url: '300x' }}" data-available="{{variant.available}}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                    {{ variant.title }} &nbsp;-&nbsp; {{ variant.price | money }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
            {% endif %}

          <button class="ecom-sticky__close-btn">
            <svg role="presentation" class="ecom-iconsvg-close" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" fill="none" fill-rule="evenodd"></path></svg>
          </button>
          {%- endif -%}
          <div class="ecom-sticky_atc-wrap">
            <div class="ecom-sticky__atc--quantity">
              <div class="ecom-qty ecom-tc">
                <a rel="nofollow" data-no-instant class="ecom-minus" href="#">
                  <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 1.85689H6.85714H5.14286H0V0.142604H5.14286L6.85714 0.142578L12 0.142604V1.85689Z" fill="black"/>
                  </svg>
                </a>
              <input type="number" class="ecom-input-text ecom-qty-input text tc ecom-js_sticky_qty ecom-tc" step="1" min="1" max="{% if current_product.inventory_management == null or current_product.inventory_management != null and current_product.inventory_policy == 'continue' %}9999{% else %}{{current_product.inventory_quantity}}{% endif %}" name="quantity" value="1" size="4" pattern="[0-9]*" inputmode="numeric">
                <a rel="nofollow" data-no-instant class="ecom-plus" href="#">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6.85714H6.85714V12H5.14286V6.85714H0V5.14286H5.14286V0H6.85714V5.14286H12V6.85714Z" fill="black"/>
                  </svg>
                </a>
              </div>
            </div>
            <button class="ecom-sticky__atc--btn" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
              <span class="ecom-add-to-cart-text">{{ button_label | default: 'Add to cart' }}</span>
            </button>
          </div>
        </div>
    </div>
  </div>
  {% style %}
    {%- if google_fonts.size > 0 -%}
      {%- for css in google_fonts -%}
        {{ css }}
      {%- endfor -%}
    {%- endif -%}

    {%- if custom_fonts.size > 0 -%}
      {%- for css in custom_fonts -%}
        {{ css }}
      {%- endfor -%}
    {%- endif -%}
    #shopify-section-ecom-sticky-cart {
      max-width: 100%;
      overflow: hidden;
    }
    .ecom-sticky__atc--wrapper {
      /* max-width: 1600px; */
      margin: 0 auto;
      gap: 12px;
      padding: 0 20px !important;
      justify-content: center;
      flex-wrap: nowrap !important;
      {%- if extension_setting.use_container -%}
        justify-content: space-between;
      {%- endif -%}
    }
    .ecom-sticky-atc__product {
      overflow: hidden;
      gap: 15px;
      transition: 0.2s;
      opacity: 1;
    }
    .ecom-sticky-atc__product-wrap {
      gap: 15px;
    }
    .ecom-sticky__atc {
      padding: 17px 20px;
      background: #fff;
      position: fixed;
      display: none;
      z-index: 999;
      box-shadow: 0 0 9px rgb(0 0 0 / 12%);
      transition: -webkit-transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    .ecom-layout--visible.ecom-sticky__atc {
      display: block;
    }

    .ecom-sticky-show.ecom-sticky__atc {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .ecom-sticky-atc__btn {
      gap: 12px;
    }
    .ecom-sticky__atc--quantity {
      background: #F5F5F5;
      border-color: #ddd;
      text-align: center;
      display: inline-block;
      {%- if quantity_border and quantity_border["border-style"] != "none" -%}
        {%- if quantity_border["border-width"]["left"] -%}
          border-left: {{ quantity_border["border-width"]["left"] }} {{ quantity_border["border-style"] }};
        {%- endif -%}
        {%- if quantity_border["border-width"]["right"] -%}
          border-right: {{ quantity_border["border-width"]["right"] }} {{ quantity_border["border-style"] }};
        {%- endif -%}
        {%- if quantity_border["border-width"]["bottom"] -%}
          border-bottom: {{ quantity_border["border-width"]["bottom"] }} {{ quantity_border["border-style"] }};
        {%- endif -%}
        {%- if quantity_border["border-width"]["top"] -%}
          border-top: {{ quantity_border["border-width"]["top"] }} {{ quantity_border["border-style"] }};
        {%- endif -%}
        {%- if quantity_border["border-color"] -%}
          border-color: {{ quantity_border["border-color"] }};
        {%- endif -%}
      {%- endif -%}

      {%- if quantity_border_radius -%}
        {%- if quantity_border_radius['top'] -%}
          border-top-left-radius: {{ quantity_border_radius['top'] }};
        {%- endif -%}
        {%- if quantity_border_radius['right'] -%}
          border-top-right-radius: {{ quantity_border_radius['right'] }};
        {%- endif -%}
        {%- if quantity_border_radius['left'] -%}
          border-bottom-left-radius: {{ quantity_border_radius['left'] }};
        {%- endif -%}
        {%- if quantity_border_radius['bottom'] -%}
          border-bottom-right-radius: {{ quantity_border_radius['bottom'] }};
        {%- endif -%}
      {%- endif -%}
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }
    .ecom-sticky__atc input.ecom-js_sticky_qty {
      -moz-appearance: textfield;
      border: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      background: 0 0;
      padding: 8px 0;
      outline: 0;
      max-width: 100%;
      box-shadow: none;
      margin: 0;
      text-align: center;
      position: unset;
      display: unset;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #000;
    }
    .ecom-sticky__atc--quantity .ecom-tc a {
      display: flex;
      border: 0;
      background: 0 0;
      padding: 8px 15px;
      align-items: center;
    }
    .ecom-js_sticky_sl {
      outline: none;
      min-width: 130px;
      padding: 5 PX;
      margin-top: 10px;
    }
    .ecom-js_sticky_sl:focus {
      outline: none;
    }
    .ecom-sticky__atc .selector-wrapper {
      display: none;
    }
    .ecom-sticky__atc--variants {
      margin-left: auto;
    }

    .ecom-sticky__atc--variants select:focus-visible {
      outline: none;
      box-shadow: none;
    }

    .ecom-sticky__atc--variants select {
      border: none;
      height: auto;
      color: #000;
      background-color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      width: 100%;
      text-overflow: '';
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none"><path d="M6.55868e-08 0.976562L5.5 6.47656L11 0.976562L10.0238 0.000312794L5.5 4.52406L0.97625 0.000312686L6.55868e-08 0.976562Z" fill="black"/></svg>') no-repeat right center;
      background-position-x: calc(100% - 16px);
      padding: 11px 78px 11px 16px;
      {%- if variant_text_color -%}
        color: {{ variant_text_color }};
      {%- endif -%}
      {%- if product_variant_typo_css -%}
        {{ product_variant_typo_css}}
      {%- endif -%}
      {%- if variant_border and variant_border["border-style"] != "none" -%}
          {%- if variant_border["border-width"]["left"] -%}
            border-left: {{ variant_border["border-width"]["left"] }} {{ variant_border["border-style"] }};
          {%- endif -%}
          {%- if variant_border["border-width"]["right"] -%}
            border-right: {{ variant_border["border-width"]["right"] }} {{ variant_border["border-style"] }};
          {%- endif -%}
          {%- if variant_border["border-width"]["bottom"] -%}
            border-bottom: {{ variant_border["border-width"]["bottom"] }} {{ variant_border["border-style"] }};
          {%- endif -%}
          {%- if variant_border["border-width"]["top"] -%}
            border-top: {{ variant_border["border-width"]["top"] }} {{ variant_border["border-style"] }};
          {%- endif -%}
          {%- if variant_border["border-color"] -%}
            border-color: {{ variant_border["border-color"] }};
          {%- endif -%}
        {%- endif -%}

        {%- if variant_border_radius -%}
          {%- if variant_border_radius['top'] -%}
            border-top-left-radius: {{ variant_border_radius['top'] }};
          {%- endif -%}
          {%- if variant_border_radius['right'] -%}
            border-top-right-radius: {{ variant_border_radius['right'] }};
          {%- endif -%}
          {%- if variant_border_radius['left'] -%}
            border-bottom-left-radius: {{ variant_border_radius['left'] }};
          {%- endif -%}
          {%- if variant_border_radius['bottom'] -%}
            border-bottom-right-radius: {{ variant_border_radius['bottom'] }};
          {%- endif -%}
        {%- endif -%}
    }

    .ecom-sticky__atc .ecom-product-single__variant-picker--main {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .ecom-sticky__atc .ecom-product-single__variant-picker--main > div {
      margin-right: 30px;
      margin-bottom: 0;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    .ecom-sticky__atc .ecom-product-single__picker--option-label {
      margin-right: 15px;
      margin-bottom: 0;
    }
    .ecom-sticky__atc .ecom-product-single__swatch-select,
    .ecom-sticky__atc .single-option-selector {
      text-align: left;
      min-width: 100px;
      padding: 6px;
    }
    .ecom-sticky__atc .single-option-selector {
      border-radius: 0;
    }
    .ecom-sticky__atc--image img {
      max-width: 100px;
    }
    .ecom-sticky__atc .ecom-product-single__variant-picker--options {
      flex-direction: row;
    }
    .ecom-sticky__atc .ecom-product-single__variant-picker--options .selector-wrapper {
      margin-right: 15px;
    }
    .ecom-sticky__atc .ecom-sticky__atc--btn {
      border-radius: 5px;
      align-items: center;
      transition: 0.2s all ease;
      /*min-width: 200px;*/
      background-color: #0891B2;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      padding: 14px 60px;
      text-wrap: nowrap;
      {%- if button_cart_height_normal -%}
        height: {{ button_cart_height_normal }};
      {%- endif -%}
      {%- if button_typo_css -%}
        {{ button_typo_css }}
      {%- endif -%}
      {%- if button_cart_text_color_normal -%}
        color: {{ button_cart_text_color_normal }};
      {%- endif -%}
      {%- if button_cart_width_normal -%}
        width: {{ button_cart_width_normal }};
      {%- endif -%}
      {%- if button_bg_color_normal -%}
        {{ button_bg_color_normal }};
      {%- endif -%}

      {%- if button_border_normal and button_border_normal["border-style"] != "none" -%}
        {%- if button_border_normal["border-width"]["left"] -%}
          border-left: {{ button_border_normal["border-width"]["left"] }} {{ button_border_normal["border-style"] }};
        {%- endif -%}
        {%- if button_border_normal["border-width"]["right"] -%}
          border-right: {{ button_border_normal["border-width"]["right"] }} {{ button_border_normal["border-style"] }};
        {%- endif -%}
        {%- if button_border_normal["border-width"]["bottom"] -%}
          border-bottom: {{ button_border_normal["border-width"]["bottom"] }} {{ button_border_normal["border-style"] }};
        {%- endif -%}
        {%- if button_border_normal["border-width"]["top"] -%}
          border-top: {{ button_border_normal["border-width"]["top"] }} {{ button_border_normal["border-style"] }};
        {%- endif -%}
        {%- if button_border_normal["border-color"] -%}
          border-color: {{ button_border_normal["border-color"] }};
        {%- endif -%}
      {%- endif -%}

      {%- if button_border_radius_normal -%}
        {%- if button_border_radius_normal['top'] -%}
          border-top-left-radius: {{ button_border_radius_normal['top'] }};
        {%- endif -%}
        {%- if button_border_radius_normal['right'] -%}
          border-top-right-radius: {{ button_border_radius_normal['right'] }};
        {%- endif -%}
        {%- if button_border_radius_normal['left'] -%}
          border-bottom-left-radius: {{ button_border_radius_normal['left'] }};
        {%- endif -%}
        {%- if button_border_radius_normal['bottom'] -%}
          border-bottom-right-radius: {{ button_border_radius_normal['bottom'] }};
        {%- endif -%}
      {%- endif -%}

      {%- if button_cart_padding -%}
        {%- if button_cart_padding['top'] -%}
          padding-top: {{ button_cart_padding['top'] }};
        {%- endif -%}
        {%- if button_cart_padding['right'] -%}
          padding-right: {{ button_cart_padding['right'] }};
        {%- endif -%}
        {%- if button_cart_padding['left'] -%}
          padding-left: {{ button_cart_padding['left'] }};
        {%- endif -%}
        {%- if button_cart_padding['bottom'] -%}
          padding-bottom: {{ button_cart_padding['bottom'] }};
        {%- endif -%}
      {%- endif -%}

      {%- if button_cart_margin -%}
        {%- if button_cart_margin['top'] -%}
          margin-top: {{ button_cart_margin['top'] }};
        {%- endif -%}
        {%- if button_cart_margin['right'] -%}
          margin-right: {{ button_cart_margin['right'] }};
        {%- endif -%}
        {%- if button_cart_margin['left'] -%}
          margin-left: {{ button_cart_margin['left'] }};
        {%- endif -%}
        {%- if button_cart_margin['bottom'] -%}
          margin-bottom: {{ button_cart_margin['bottom'] }};
        {%- endif -%}
      {%- endif -%}

    }

    @media (hover: hover) and (pointer: fine) {
      .ecom-sticky__atc .ecom-sticky__atc--btn:hover {
        {%- if button_cart_height_hover -%}
          height: {{ button_cart_height_hover }};
        {%- else -%}
        {%- endif -%}
        {%- if button_typo_css -%}
          {{ button_typo_css }}
        {%- endif -%}
        {%- if button_text_color_hover -%}
          color: {{ button_text_color_hover }};
        {%- endif -%}
        {%- if button_cart_width_hover -%}
          width: {{ button_cart_width_hover }};
        {%- endif -%}
        {%- if button_bg_color_hover -%}
          {{ button_bg_color_hover }}
        {%- endif -%}

        {%- if button_border_hover and button_border_hover["border-style"] != "none" -%}
          {%- if button_border_hover["border-width"]["left"] -%}
            border-left: {{ button_border_hover["border-width"]["left"] }} {{ button_border_hover["border-style"] }};
          {%- endif -%}
          {%- if button_border_hover["border-width"]["right"] -%}
            border-right: {{ button_border_hover["border-width"]["right"] }} {{ button_border_hover["border-style"] }};
          {%- endif -%}
          {%- if button_border_hover["border-width"]["bottom"] -%}
            border-bottom: {{ button_border_hover["border-width"]["bottom"] }} {{ button_border_hover["border-style"] }};
          {%- endif -%}
          {%- if button_border_hover["border-width"]["top"] -%}
            border-top: {{ button_border_hover["border-width"]["top"] }} {{ button_border_hover["border-style"] }};
          {%- endif -%}
          {%- if button_border_hover["border-color"] -%}
            border-color: {{ button_border_hover["border-color"] }};
          {%- endif -%}
        {%- endif -%}

        {%- if button_border_radius_hover -%}
          {%- if button_border_radius_hover['top'] -%}
            border-top-left-radius: {{ button_border_radius_hover['top'] }};
          {%- endif -%}
          {%- if button_border_radius_hover['right'] -%}
            border-top-right-radius: {{ button_border_radius_hover['right'] }};
          {%- endif -%}
          {%- if button_border_radius_hover['left'] -%}
            border-bottom-left-radius: {{ button_border_radius_hover['left'] }};
          {%- endif -%}
          {%- if button_border_radius_hover['bottom'] -%}
            border-bottom-right-radius: {{ button_border_radius_hover['bottom'] }};
          {%- endif -%}
        {%- endif -%}
      }
    }
    .ecom-sticky__atc .ecom-sticky__atc--btn[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
    }
    .ecom-sticky__atc .ecom-sticky__atc--btn[disabled]:hover {
      {%- if button_cart_text_color_normal -%}
        color: {{ button_cart_text_color_normal }};
      {%- endif -%}
      {%- if button_bg_color_normal -%}
        {{ button_bg_color_normal }};
      {%- endif -%}
    }
    .ecom-sticky__atc .ecom-product-single__variant-picker--options label {
      width: 100%;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
    .ecom-sticky__atc .ecom-sticky__act--info h3 {
      font-size: 16px;
      font-weight: 500;
      color: #000;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis; /* Ellipses (cross-browser) */
      -o-text-overflow: ellipsis; /* Ellipses (cross-browser) */
      {%- if product_name_color -%}
        color: {{ product_name_color }};
      {%- endif -%}
      {%- if product_name_typo_css -%}
        {{ product_name_typo_css }}
      {%- endif -%}
    }
    /* .ecom-sticky__atc .ecom-sticky__act--info h3:after {
      content: "...";
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
      line-height: 1em;
    } */
    .ecom-sticky_atc-wrap {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      flex-wrap: nowrap;
      align-items: center;
    }
    .ecom-sticky__atc .ecom-product-single__swatch-item {
      border: none;
    }
    .ecom-sticky__atc .ecom-product-single__swatch-item.ecom-button-active {
      border: 1px solid #9e9e9e;
    }
    .ecom-sticky__atc .ecom-product-single__picker-radio-list li {
      min-width: 40px;
      margin-left: 5px;
      padding: 0 4px;
    }
    .ecom-sticky__atc .ecom-product-single__variant-picker--main > div {
      margin-bottom: 10px;
    }
    .ecom-sticky__atc .ecom-product-single__picker-images-item {
      margin-right: 5px;
    }
    .ecom-sticky__atc .ecom-product-single__picker-images-item img {
      max-width: 30px;
      object-fit: contain;
    }
    .ecom-sticky-layout__simple .ecom-sticky__atc--image {
      width: 65px;
      height: 65px;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
    .ecom-sticky-layout__simple .ecom-sticky__atc--image img {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .ecom-sticky__atc--price {
      display: none;
    }
    .ecom-sticky__atc--price-always-show {
      display: block !important;
    }
    .ecom-sticky__atc--price del {
      {%- if product_price_compare_color -%}
        color: {{ product_price_compare_color }};
      {%- endif -%}
      {{ product_price_compare_typo_css }}
    }

    .ecom-sticky__atc--price ins {
      {%- if product_price_color -%}
        color: {{ product_price_color }};
      {%- endif -%}
      margin-left: 5px;
      text-decoration: none;
      font-weight: 500;
      {{ product_price_typo_css }}
    }

    .ecom-sticky__atc select {
      {%- if variant_width -%}
        width: {{variant_width}}
      {%- endif -%}
    }
    .ecom-sticky__atc--quantity .ecom-qty {
      display: flex;
    }
    .ecom-sticky__collapse {
      display: none;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;
    }
    @media(max-width: 1440px) {
      .ecom-sticky__atc--variants select {
        padding-right: 35px;
      }
    }
    @media(max-width:1024px) {
      .ecom-sticky__atc--wrapper {
        flex-wrap: wrap !important;
        /*justify-content: center; */
      }
      .ecom-sticky__atc--wrapper > * {
        margin: auto;
      }
      .ecom-sticky__atc select {
        {%- if variant_width__tablet -%}
          width: {{variant_width__tablet}}
        {%- endif -%}
      }
      .ecom-sticky__atc .ecom-sticky__atc--btn {
        {%- if button_typo_css__tablet -%}
          {{ button_typo_css__tablet }}
        {%- endif -%}
        {%- if button_cart_height_normal__tablet -%}
          height: {{ button_cart_height_normal__tablet }};
        {%- endif -%}
        {%- if button_cart_width_normal__tablet -%}
          width: {{ button_cart_width_normal__tablet }};
        {%- endif -%}
        {%- if button_border_radius_normal__tablet -%}
          {%- if button_border_radius_normal__tablet['top'] -%}
            border-top-left-radius: {{ button_border_radius_normal__tablet['top'] }};
          {%- endif -%}
          {%- if button_border_radius_normal__tablet['right'] -%}
            border-top-right-radius: {{ button_border_radius_normal__tablet['right'] }};
          {%- endif -%}
          {%- if button_border_radius_normal__tablet['left'] -%}
            border-bottom-left-radius: {{ button_border_radius_normal__tablet['left'] }};
          {%- endif -%}
          {%- if button_border_radius_normal__tablet['bottom'] -%}
            border-bottom-right-radius: {{ button_border_radius_normal__tablet['bottom'] }};
          {%- endif -%}
        {%- endif -%}

      {%- if button_cart_padding__tablet -%}
        {%- if button_cart_padding__tablet['top'] -%}
          padding-top: {{ button_cart_padding__tablet['top'] }};
        {%- endif -%}
        {%- if button_cart_padding__tablet['right'] -%}
          padding-right: {{ button_cart_padding__tablet['right'] }};
        {%- endif -%}
        {%- if button_cart_padding__tablet['left'] -%}
          padding-left: {{ button_cart_padding__tablet['left'] }};
        {%- endif -%}
        {%- if button_cart_padding__tablet['bottom'] -%}
          padding-bottom: {{ button_cart_padding__tablet['bottom'] }};
        {%- endif -%}
      {%- endif -%}

      {%- if button_cart_margin__tablet -%}
        {%- if button_cart_margin__tablet['top'] -%}
          margin-top: {{ button_cart_margin__tablet['top'] }};
        {%- endif -%}
        {%- if button_cart_margin__tablet['right'] -%}
          margin-right: {{ button_cart_margin__tablet['right'] }};
        {%- endif -%}
        {%- if button_cart_margin__tablet['left'] -%}
          margin-left: {{ button_cart_margin__tablet['left'] }};
        {%- endif -%}
        {%- if button_cart_margin__tablet['bottom'] -%}
          margin-bottom: {{ button_cart_margin__tablet['bottom'] }};
        {%- endif -%}
      {%- endif -%}
      {%- if button_bg_color_normal__tablet -%}
        {{ button_bg_color_normal__tablet }};
      {%- endif -%}

      }
      .ecom-sticky__atc {
        padding: 20px 0px;
      }
      .ecom-sticky__atc .ecom-sticky__act--info h3 {
        {%- if product_name_typo_css__tablet -%}
          {{ product_name_typo_css__tablet }}
        {%- endif -%}
      }
      .ecom-sticky__atc--price ins {
        {%- if product_price_typo_css__tablet -%}
          {{ product_price_typo_css__tablet }}
        {%- endif -%}
      }
      .ecom-sticky__atc--price del {
        {%- if product_price_compare_typo_css__tablet -%}
          {{ product_price_compare_typo_css__tablet }}
        {%- endif -%}
      }
      .ecom-sticky__atc--variants select {
        width: 100%;
        {%- if product_variant_typo_css__tablet -%}
          {{ product_variant_typo_css__tablet}}
        {%- endif -%}
      }
      .ecom-sticky__atc .ecom-product-single__variant-picker--options label {
        display: none;
      }
    }

    .ecom-sticky__close-btn {
      display: none;
    }

    .ecom-iconsvg-close {
      stroke: #000;
      width: 16px;
      height: 16px;
      stroke-width: 1.5px;
      display: inline-block;
      pointer-events: none;
      transition: all .3s;
    }
    @media(max-width:767px) {
      .ecom-sticky__atc .ecom-sticky__atc--btn {
        {%- if button_typo_css__mobile -%}
          {{ button_typo_css__mobile }}
        {%- endif -%}
        {%- if button_cart_height_normal__mobile -%}
          height: {{ button_cart_height_normal__mobile }};
        {%- endif -%}
        {%- if button_cart_width_normal__mobile -%}
          width: {{ button_cart_width_normal__mobile }};
        {%- endif -%}
        {%- if button_border_radius_normal__mobile -%}
          {%- if button_border_radius_normal__mobile['top'] -%}
            border-top-left-radius: {{ button_border_radius_normal__mobile['top'] }};
          {%- endif -%}
          {%- if button_border_radius_normal__mobile['right'] -%}
            border-top-right-radius: {{ button_border_radius_normal__mobile['right'] }};
          {%- endif -%}
          {%- if button_border_radius_normal__mobile['left'] -%}
            border-bottom-left-radius: {{ button_border_radius_normal__mobile['left'] }};
          {%- endif -%}
          {%- if button_border_radius_normal__mobile['bottom'] -%}
            border-bottom-right-radius: {{ button_border_radius_normal__mobile['bottom'] }};
          {%- endif -%}
        {%- endif -%}

        {%- if button_cart_padding__mobile -%}
          {%- if button_cart_padding__mobile['top'] -%}
            padding-top: {{ button_cart_padding__mobile['top'] }};
          {%- endif -%}
          {%- if button_cart_padding__mobile['right'] -%}
            padding-right: {{ button_cart_padding__mobile['right'] }};
          {%- endif -%}
          {%- if button_cart_padding__mobile['left'] -%}
            padding-left: {{ button_cart_padding__mobile['left'] }};
          {%- endif -%}
          {%- if button_cart_padding__mobile['bottom'] -%}
            padding-bottom: {{ button_cart_padding__mobile['bottom'] }};
          {%- endif -%}
        {%- endif -%}

        {%- if button_cart_margin__mobile -%}
          {%- if button_cart_margin__mobile['top'] -%}
            margin-top: {{ button_cart_margin__mobile['top'] }};
          {%- endif -%}
          {%- if button_cart_margin__mobile['right'] -%}
            margin-right: {{ button_cart_margin__mobile['right'] }};
          {%- endif -%}
          {%- if button_cart_margin__mobile['left'] -%}
            margin-left: {{ button_cart_margin__mobile['left'] }};
          {%- endif -%}
          {%- if button_cart_margin__mobile['bottom'] -%}
            margin-bottom: {{ button_cart_margin__mobile['bottom'] }};
          {%- endif -%}
        {%- endif -%}
        {%- if button_bg_color_normal__mobile -%}
          {{ button_bg_color_normal__mobile }};
        {%- endif -%}

      }
      div.ecom-sticky__atc {
        padding-block: 0 10px;
      }
      .ecom-sticky__atc .ecom-sticky__act--info h3 {
        {%- if product_name_typo_css__mobile -%}
          {{ product_name_typo_css__mobile }}
        {%- endif -%}
      }
      .ecom-sticky__atc--price ins {
        {%- if product_price_typo_css__mobile -%}
          {{ product_price_typo_css__mobile }}
        {%- endif -%}
      }
      .ecom-sticky__atc--price del {
        {%- if product_price_compare_typo_css__mobile -%}
          {{ product_price_compare_typo_css__mobile }}
        {%- endif -%}
      }
      .ecom-sticky-atc__btn {
        flex-direction: column;
        width: 100%;
      }
      .ecom-sticky_atc-wrap {
        width: 100%;
      }

      .ecom-sticky__atc .ecom-sticky__atc--btn {
        width: 100%;
      }
      .ecom-sticky__atc--variants select {
        {%- if product_variant_typo_css__mobile -%}
          {{ product_variant_typo_css__mobile }}
        {%- endif -%}
      }
      .ecom-sticky-layout__simple .ecom-sticky-atc__product {
        width: 100%;
        justify-content: flex-start;
      }

      .ecom-sticky-layout__simple .ecom-sticky-atc__product[data-visible='false'] {
        max-height: 0;
      }

      .ecom-sticky-layout__simple .ecom-sticky-atc__product[data-visible='true'] {
        max-height: 500px;
      }

      .ecom-sticky__close-btn {
        display: none;
        position: absolute;
        top: 0;
        cursor: pointer;
        right: 10px;
        padding: 10px;
        background: none;
        border: none;
      }

      .ecom-sticky__atc--wrapper {
        position: relative;
        gap: 0;
        flex-direction: column;
        align-items: center;
        padding-inline: 15px;
      }
      .ecom-sticky-layout__simple .ecom-sticky-atc__product {
        padding-bottom: 10px;
      }
      .ecom-sticky-layout__simple .ecom-sticky-atc__product.ecom-max-height--full {
        max-height: 500px;
      }

      .ecom-sticky-layout__simple .ecom-sticky__atc--variants {
        width: 100%;
        justify-content: flex-end;
        margin-left: unset;
        {%- if variant_width__mobile -%}
          width: {{variant_width__mobile}}
        {%- endif -%}
      }
      .ecom-sticky__atc.ecom-sticky-mobile-disable {
        display: none;
        visibility: hidden;
      }
      .ecom-sticky-layout__simple .ecom-sticky__act--info {
        text-align: left;
      }

      .ecom-sticky__atc--variants select {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .ecom-sticky__atc--price {
        display: block;
      }
      .ecom-sticky__collapse {
        display: flex;
      }
      .ecom-sticky-atc__hide {
        opacity: 0;
        height: 0 !important;
        padding: 0 !important;
      }
    }

    @media(max-width:500px) {

      .ecom-sticky-layout__simple .ecom-sticky-atc__product,
      .ecom-sticky__atc--wrapper {
        align-items: center;
      }

      .ecom-sticky-layout__simple .ecom-sticky__atc--btn {
        min-width: unset;
      }

      .ecom-sticky-layout__simple .ecom-sticky-atc__product .ecom-sticky__act--info {
        margin: 0;
      }
      .ecom-sticky__atc .ecom-sticky__atc--btn {
        padding: 15px 30px;
      }

    }
  {% endstyle %}
{%- endif -%}
<script>
  ;(function () {
  // Handle Sticky cart
  const action = window.EComposer && window.EComposer.routes.cart_add_url || "/cart/add";
  const doc = window.document,
    $main_atc_forms = doc.querySelectorAll(`form[action="${action}"].ecom-product-form--single`);
  var $main_atc_form = null;
  $main_atc_forms.length > 0 &&
    $main_atc_forms.forEach(function ($form) {
      if (
        $form.querySelector("button[type=submit]")
        && (
          (window.screen.width > 1024 && !$form.classList.contains('ec-hide-on-desktop'))
          || ((window.screen.width > 767 && window.screen.width <= 1024) && !$form.classList.contains('ec-hide-on-tablet'))
          || (window.screen.width <= 767 && !$form.classList.contains('ec-hide-on-mobile'))
        )
      ) {
        $main_atc_form = $form;
        return;
      }
    });
  if (!$main_atc_form) {
    return;
  }
  const $el_wrapper = doc.querySelector(".ecom-sticky__atc");
  if(!$el_wrapper) return;
    
  var menu_height = 0;
  setTimeout(function() {
    var sticky_height = $el_wrapper.offsetHeight;
    var toolbar_mobile = document.querySelector('.ecom-toolbar_mobile');
    if(toolbar_mobile)
      menu_height = toolbar_mobile.offsetHeight;
    if(toolbar_mobile && sticky_height > parseInt(menu_height))
        document.body.style.paddingBottom = sticky_height + 'px';
  }, 500)
    window.addEventListener('resize', function() {
      var sticky_height = $el_wrapper.offsetHeight;
      if(window.innerWidth < 1024) {
        var height = sticky_height
        if(menu_height) {
           height = sticky_height + parseInt(menu_height);
        }
      } else {
        var height = sticky_height;
        if(menu_height && sticky_height < parseInt(menu_height)) {
          height = menu_height;
        }
      }
      document.body.style.paddingBottom = height + 'px';
    })

  const main_atc_btn = $main_atc_form.querySelector("button[type=submit]"),
    sticky_atc_btn = $el_wrapper.querySelector(".ecom-sticky__atc--btn");
  const handleVariantStickyCart = function () {
    const $el = doc.querySelector(".ecom-sticky__atc--variants");
    const $main_variant_wrapper = $main_atc_form.querySelector(".ecom-product-single__variant-picker");

    if (!$main_variant_wrapper) return;

    const selector = $main_variant_wrapper.querySelector('[name="id"]');
    const selector_id = selector.id;
    const sticky_selector_id = "sticky-" + selector_id;

    if (!$el_wrapper) return;
    //if (!$el || !$el_wrapper) return;

    const json = $main_variant_wrapper.querySelector("#" + selector.dataset.jsonProduct);

    if (!json) {
      return;
    }

    let product = null;
    try {
      product = JSON.parse(json.innerHTML);
    } catch (e) {
      return;
    }

    let selector_sticky = $el_wrapper.querySelector("select[name=id]");
    if (!selector_sticky) {
      selector_sticky = $main_atc_form.querySelector("select[name=id]");
    };
    if (!selector_sticky) return;

    selector_sticky.addEventListener("change", function (e) {
      handleSimpleVariantChange();
    });
    handleSimpleVariantChange();

    function handleSimpleVariantChange() {
      let selected_index = selector_sticky.options[selector_sticky.selectedIndex];
      if (!selected_index) return;

      let variant_id = selected_index.value;
      if (variant_id) {
        let variant = product.variants.find((variant) => variant.id == variant_id);
        if (variant) {
          if (parseInt(selector.value) != parseInt(variant.id)) {
            selector.value = variant.id;
            selector.dispatchEvent(new Event("swatch"));
          }
          updateQuantity(variant);
          updateImage(variant);
          updatePrice(variant);
          updateProductButtons(variant);
        }
      }
    }
    selector.addEventListener("change", function (event) {
      if (parseInt(selector_sticky.value) !== parseInt(event.target.value))
        selector_sticky.value = event.target.value;

      selector_sticky.dispatchEvent(new Event("change"));
    });

    // Update thumbail image
    function updateImage(variant) {
      const $section = doc.querySelector(".ecom-sticky__atc");
      const image_wrapper = $section.querySelector(".ecom-sticky__atc--image");
      const image = $section.querySelector(".ecom-sticky__atc--image img");
      const image_size = $el_wrapper.getAttribute("data-img-size") || "100x";
      if (image && variant.featured_image != null) {
        let image_src = window.EComposer.resizeImage(variant.featured_image.src, image_size);
        image_wrapper.classList.add("ecom-loading-image");
        image.setAttribute("src", image_src);

        image.onload = function () {
          image_wrapper.classList.remove("ecom-loading-image");
        };
      }
    }

    // Update quantity
    function updateQuantity(variant) {
      const $quantity = $el_wrapper.querySelector('.ecom-qty-input');
      if ($quantity) {
        if (!variant) {

            $quantity.value = 1;
            $quantity.setAttribute('disabled', 'disabled');
            return;
        } else if (!variant.available) {
            $quantity.setAttribute('disabled', 'disabled');
        } else {
            $quantity.removeAttribute('disabled', 'disabled');
        }
        const inventory_quantity = variant.inventory_quantity;
        const policy = variant.inventory_policy;
        let max = 9999;
        if (variant.inventory_management && policy === 'deny') {
            max = inventory_quantity;
        }
        if (inventory_quantity < 1 && policy == 'continue') {
            max = 999999;
        }
        if(max < 0) max = 0;
        let quantity = parseInt($quantity.value);
        if (quantity > max) {
            quantity = max;
        }
        quantity = isNaN(quantity) || !quantity ? 1 : quantity;
        if(!variant.available) {
            quantity = 0;
        }
        quantity = quantity >= 0 ? quantity : 1;
        $quantity.value = quantity;
        $quantity.max = max;
        var main_qty_input = $main_atc_form.querySelector(".ecom-product-single__quantity-input");
        if(!main_qty_input) {
          main_qty_input = $main_atc_form.querySelector(".ecom-sticky-cart-input-new");
        }
        if(main_qty_input)
          main_qty_input.value = quantity;
      }
    }

    // Update price
    function updatePrice(variant) {
      const $section = doc.querySelector(".ecom-sticky__atc"),
        $price = $section.querySelector(".ecom-sticky__atc--price");

      if (variant) {
        const variant_price_sale = variant.compare_at_price != null ? variant.compare_at_price : variant.price,
          variant_price_regular = variant.price;

        if (variant_price_sale > variant_price_regular) {
          $price.innerHTML = `<del>${window.EComposer.formatMoney(
            variant_price_sale
          )}</del><ins>${window.EComposer.formatMoney(variant.price)}</ins>`;
        } else {
          $price.innerHTML = `<ins>${window.EComposer.formatMoney(variant.price)}</ins>`;
        }
      }
    }
    function updateSwatch(variant) {
      if (variant && variant.options.length) {
        const $section = doc.querySelector(".ecom-sticky__atc");
        for (let i = 0; i < variant.options.length; i++) {
          $section
            .querySelectorAll(
              `.ecom-product-single__swatch-item[data-option-index="${i}"][data-value="${variant.options[i]
                .replace(/'/g, "'")
                .replace(/"/g, "&quot;")}"]`
            )
            .forEach((element) => {
              element.parentNode.childNodes.forEach(function (el) {
                if (el.classList) {
                  el.classList.remove("ecom-box-active");
                  el.classList.remove("ecom-button-active");
                  el.classList.remove("ecom-image-active");
                }
              });
              element.classList.add("ecom-box-active");
              element.classList.add("ecom-button-active");
              element.classList.add("ecom-image-active");
            });
          $section
            .querySelectorAll(`select.ecom-product-single__swatch-select[data-option-index="${i}"]`)
            .forEach(function (el) {
              el.value = variant.options[i];
            });
        }
      }
    }
    // Update button
    function updateProductButtons(variant) {
      if (main_atc_btn && sticky_atc_btn) {
        let atc_text = main_atc_btn && main_atc_btn.dataset.textAddCart ? main_atc_btn.dataset.textAddCart : "",
          outstock_text = main_atc_btn && main_atc_btn.dataset.textOutstock ? main_atc_btn.dataset.textOutstock : "",
          unavailable_text = main_atc_btn && main_atc_btn.dataset.textUnavailable ? main_atc_btn.dataset.textUnavailable : "",
          preorder_text = main_atc_btn && main_atc_btn.dataset.textPreOrder ? main_atc_btn.dataset.textPreOrder : "";
        if (!variant) {
          sticky_atc_btn.setAttribute("disabled", "disabled");
          sticky_atc_btn.querySelector(".ecom-add-to-cart-text").innerText = unavailable_text;
        } else if (variant.available) {
          if(variant.inventory_quantity <= 0 && variant.inventory_policy == 'continue') {
              sticky_atc_btn.querySelector(".ecom-add-to-cart-text").innerText = preorder_text;
          } else {
              sticky_atc_btn.querySelector(".ecom-add-to-cart-text").innerText = atc_text;
          }
          sticky_atc_btn.removeAttribute("disabled");
        } else {
          sticky_atc_btn.setAttribute("disabled", "disabled");
          sticky_atc_btn.querySelector(".ecom-add-to-cart-text").innerText = outstock_text;
        }
      }
    }
    let getSiblings = function (e) {
      // for collecting siblings
      let siblings = [];

      // if no parent, return no sibling
      if (!e.parentNode) {
        return siblings;
      }

      // first child of the parent node
      let sibling = e.parentNode.firstChild;

      // collecting siblings
      while (sibling) {
        if (sibling.nodeType === 1 && sibling !== e) {
          siblings.push(sibling);
        }
        sibling = sibling.nextSibling;
      }
      return siblings;
    };
  };

  const handleSimpleVariant = function () {
    const selector = $el_wrapper.querySelector("select[name=ecom-sticky-cart__select]");
    if (!selector) return;

    selector.addEventListener("change", function (e) {
      let selected_index = selector.options[selector.selectedIndex];
      if (!selected_index) return;

      const $main_variant_wrapper = doc.querySelector(".ecom-product-single__variant-picker");
      if (!$main_variant_wrapper) return;

      const selector = $main_variant_wrapper.querySelector('[name="id"]');

      let price = selected_index.getAttribute("data-price"),
        compare_at_price = selected_index.getAttribute("data-compare-price") || 0,
        image = selected_index.getAttribute("data-image"),
        available = selected_index.getAttribute("data-available"),
        product_id = selected_index.value;

      // Update image
      let item_image = $el_wrapper.querySelector(".ecom-sticky__atc--image");
      if (item_image) {
        item_image.classList.add("ecom-loading-image");
        item_image.querySelector("img").setAttribute("src", image);
        item_image.querySelector("img").onload = () => {
          item_image.classList.remove("ecom-loading-image");
        };
      }

      // Update price
      const $price = $el_wrapper.querySelector(".ecom-sticky__atc--price");
      $price.innerHTML = window.EComposer.formatMoney(price);

    });
  };
  const handleQuantity = function () {
    // Handle quantity
    const btn_qty_plus = $el_wrapper.querySelector(".ecom-plus");
    const btn_qty_minus = $el_wrapper.querySelector(".ecom-minus");
    const qty_input = $el_wrapper.querySelector(".ecom-qty-input");
    var main_qty_input = $main_atc_form.querySelector(".ecom-product-single__quantity-input");

    if (!main_qty_input) {
      main_qty_input = document.createElement("input");
      main_qty_input.type = "number";
      main_qty_input.style.display = "none";
      main_qty_input.name = "quantity";
      main_qty_input.value = 1;
      main_qty_input.classList.add('ecom-sticky-cart-input-new');
      $main_atc_form.appendChild(main_qty_input);
    }

    qty_input.addEventListener("change", function (e) {
      const value = this.value;
      if (main_qty_input != value) main_qty_input.value = value;
    });
    main_qty_input.addEventListener("change", function (e) {
      const value = this.value;
      if (main_qty_input != value) qty_input.value = value;
    });

    if (btn_qty_plus) {
      btn_qty_plus.addEventListener("click", function (e) {
        e.preventDefault();
        changeQty("plus");
      });
    }
    if (btn_qty_minus) {
      btn_qty_minus.addEventListener("click", function (e) {
        e.preventDefault();
        changeQty("minus");
      });
    }

    const changeQty = function (type) {
      let currentVal = parseFloat(qty_input.value),
        max = parseFloat(qty_input.getAttribute("max")),
        min = parseFloat(qty_input.getAttribute("min")),
        step = qty_input.getAttribute("step");

      // Format values
      if (!currentVal || currentVal === "" || currentVal === "NaN") currentVal = 0;

      if (max === "" || max === "NaN") max = "";

      if (min === "" || min === "NaN") min = 0;

      if (step === "any" || step === "" || step === undefined || parseFloat(step) === "NaN") step = 1;

      if (type == "plus") {
        if (currentVal >= max) {
          qty_input.value = max;
        } else {
          qty_input.value = (currentVal + parseFloat(step)).toFixed();
          if (main_qty_input) main_qty_input.value = (currentVal + parseFloat(step)).toFixed();
        }
      } else {
        if (min && currentVal <= min && max != 0) {
          qty_input.value = min;
        } else if (currentVal > 0) {
          qty_input.value = (currentVal - parseFloat(step)).toFixed();
          if (main_qty_input) main_qty_input.value = (currentVal - parseFloat(step)).toFixed();
        }
      }
    };
  };

  const handleATC = function () {
    // Handle Addtocart
    const $sticky_wrapper = doc.querySelector(".ecom-sticky__atc");
    if (!$sticky_wrapper) return;
    if (sticky_atc_btn) {
      sticky_atc_btn.addEventListener("click", function (e) {
        e.preventDefault();
        const product_info = $sticky_wrapper.querySelector(".ecom-sticky-atc__product");
        if (!product_info) {
          return;
        }
        const has_variant = Boolean($sticky_wrapper.querySelector(".ecom-sticky__atc--variants"));
        let _this = this;
        if (window.screen.width > 768) product_info.setAttribute("data-visible", true);
        if (main_atc_btn && has_variant && product_info.dataset?.visible != "true") {
          product_info.setAttribute("data-visible", true);
        } else if (
          (main_atc_btn && !has_variant) ||
          (main_atc_btn && has_variant && product_info.dataset?.visible == "true")
        ) {
          _this.classList.add("ecom-loading");
          main_atc_btn.click();
        }

        setTimeout(function () {
          _this.classList.remove("ecom-loading");
        }, 500);
      });
    }
  };

  const ecomStickyCart = function () {
    const $sticky_wrapper = doc.querySelector(".ecom-sticky__atc");
    const main_btn_submit = $main_atc_form.querySelector("button[type=submit]");

    if (!$sticky_wrapper) return;

    if (EComposer.TEMPLATE_ID) {
      $sticky_wrapper.classList.add("ecom-layout--visible");
    }

    const product_info = $sticky_wrapper.querySelector(".ecom-sticky-atc__product");

    if ($sticky_wrapper && main_btn_submit) {
      let summaryOffset = window.scrollY + main_btn_submit.getBoundingClientRect().top + main_btn_submit.offsetHeight;

      var stickyAddToCartToggle = function () {
        var windowScroll = window.pageYOffset || document.documentElement.scrollTop,
          windowHeight = window.innerHeight,
          documentHeight = document.body.clientHeight,
          totalScroll = parseInt(windowScroll + windowHeight) + 60;

        if (summaryOffset < windowScroll && totalScroll !== documentHeight && totalScroll < documentHeight) {
          $sticky_wrapper.classList.add("ecom-sticky-show");
          if (window.screen.width > 768) {
            product_info.setAttribute("data-visible", true);
          }
        } else if (totalScroll === documentHeight || summaryOffset > windowScroll) {
          $sticky_wrapper.classList.remove("ecom-sticky-show");
          if (window.screen.width > 768) {
            product_info.setAttribute("data-visible", true);
          }
        }
      };

      stickyAddToCartToggle();
      window.addEventListener("scroll", stickyAddToCartToggle);
    }
  };

  const ecomStickyStyle = function () {
    const qty = $el_wrapper.querySelector(".ecom-sticky__atc--quantity");

    // if (main_atc_btn && sticky_atc_btn) {
    // let btn_style = getComputedStyle(main_atc_btn);
    // sticky_atc_btn.style.backgroundColor = btn_style.backgroundColor;
    // sticky_atc_btn.style.color = btn_style.color;
    // sticky_atc_btn.style.textTransform = btn_style.textTransform;
    // }

    const swatch_color_main = $main_atc_form.querySelector(".ecom-product-single__picker-colors-item");
    const swatch_color_sticky = $el_wrapper.querySelectorAll(".ecom-product-single__picker-colors-item");

    if (swatch_color_main && swatch_color_sticky) {
      let btn_style = getComputedStyle(swatch_color_main);
      swatch_color_sticky.forEach(function (el) {
        el.style.borderRadius = btn_style.borderRadius;
      });
    }

    const swatch_select_main = $main_atc_form.querySelector(".ecom-product-single__picker-dropdown-list");
    const swatch_select_sticky = $el_wrapper.querySelectorAll(".ecom-product-single__picker-dropdown-list");

    if (swatch_select_main && swatch_select_sticky) {
      let btn_style = getComputedStyle(swatch_select_main);
      swatch_select_sticky.forEach(function (el) {
        el.style.borderRadius = btn_style.borderRadius;
      });
    }
  };

  // const ecomStickyATCText = function () {
  //   if (main_atc_btn && sticky_atc_btn) {
  //     let atc_text = main_atc_btn && main_atc_btn.dataset.textAddCart ? main_atc_btn.dataset.textAddCart : "",
  //       outstock_text = main_atc_btn && main_atc_btn.dataset.textOutstock ? main_atc_btn.dataset.textOutstock : "";
  //     if (sticky_atc_btn.hasAttribute("disabled")) {
  //       sticky_atc_btn.querySelector(".ecom-add-to-cart-text").innerText = outstock_text;
  //     } else {
  //       sticky_atc_btn.querySelector(".ecom-add-to-cart-text").innerText = atc_text;
  //     }
  //   }
  // };

  const handleCloseButton = function () {
    const $sticky_wrapper = doc.querySelector(".ecom-sticky__atc");
    if (!$sticky_wrapper) return;

    const close_btn = $sticky_wrapper.querySelector(".ecom-sticky__close-btn");

    const product_info = $sticky_wrapper.querySelector(".ecom-sticky-atc__product");

    if (!close_btn || !product_info) return;

    close_btn.addEventListener("click", function () {
      product_info.setAttribute("data-visible", false);
      $sticky_wrapper.classList.remove("ecom-sticky-show");
      setTimeout(function () {
        $sticky_wrapper.remove();
      }, 500);
    });
  };

  const handleWindowResize = function () {
    const $sticky_wrapper = doc.querySelector(".ecom-sticky__atc");
    if (!$sticky_wrapper) return;

    const product_info = $sticky_wrapper.querySelector(".ecom-sticky-atc__product");

    if (!product_info) return;
    if (window.screen.width > 768) {
      product_info.setAttribute("data-visible", true);
      $sticky_wrapper.classList.add("ecom-sticky-show");
    }
  };

  const handleCollapse = function() {
    const collapse = doc.querySelector(".ecom-sticky__collapse");
    const svg = collapse.querySelector("svg");
    const product_info = doc.querySelector(".ecom-sticky-atc__product");
    const product_wrap = doc.querySelector(".ecom-sticky-atc__product-wrap");
    if(!collapse || !product_info) return;
    product_info.style.height = product_wrap.offsetHeight + 'px';
    collapse.addEventListener('click', function() {
      if(product_info.classList.contains('ecom-sticky-atc__hide')) {
        product_info.classList.remove('ecom-sticky-atc__hide');
        svg.style.transform = 'rotate(0deg)';
      } else {
        product_info.classList.add('ecom-sticky-atc__hide');
        svg.style.transform = 'rotate(180deg)';
      }
      
      setTimeout(function() {
        var sticky_height = $el_wrapper.offsetHeight;
        console.log('new height: ', sticky_height);
        if(window.innerWidth < 1024) {
          var height = sticky_height
          if(menu_height) {
             height = sticky_height + parseInt(menu_height);
          }
        } else {
          var height = sticky_height;
          if(menu_height && sticky_height < parseInt(menu_height)) {
            height = menu_height;
          }
        }
        document.body.style.paddingBottom = height + 'px';
      }, 200)
    })
    window.addEventListener("resize", function(){
      product_info.style.height = 'auto';
      if(window.innerWidth < 768)
        product_info.style.height = product_wrap.offsetHeight + 10 + 'px';
    });
  }


  // Listen for `DOMContentLoaded` event
  document.addEventListener("DOMContentLoaded", function (e) {
    handleVariantStickyCart();
    handleQuantity();
    handleATC();
    ecomStickyCart();
    ecomStickyStyle();
    // ecomStickyATCText();
    //handleWindowResize();
    handleCloseButton();
    handleCollapse();
    //window.addEventListener("resize", handleWindowResize);
  });
})();

</script>
<!-- End Ecomposer Sticky Cart Extension -->